Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.env
.env.local
.env.production.local
.env.test
.git
.gitignore
.next
.nyc_output
.vercel
coverage
dist
*.tgz
*.tar.gz
localstack-data
tests
playwright-report
test-results